* text=auto eol=lf
*.md linguist-documentation=false
*.md linguist-detectable
*.yml linguist-documentation=false
*.yml linguist-detectable
.github/workflows/**/*.yml linguist-detectable linguist-documentation=false linguist-vendored=false
.github/workflows/**/*.yaml linguist-detectable linguist-documentation=false linguist-vendored=false